# ----------------------
# Flask
# ----------------------
flask==3.0.0


# ----------------------
# Others
# ----------------------
pypandoc==1.12
markdown==3.5.1


# ----------------------
# Production Server
# ----------------------
gevent==23.9.1
gunicorn==21.2.0
