<link rel="stylesheet" href="/statics/simplemde/simplemde.min.css">
<style>
  code{
    border: 1px solid black;
  }
  ul#ul-help{
    padding-left: 15px;
  }
  ul#ul-help li{
    margin-bottom: 10px;
    text-align: justify;
  }
  body {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  form {
    width: 62%;
    display: inline-grid;
  }
  .CodeMirror {
    height: 515px;
    min-height: 70%;
  }
  textarea#mde {
    height: 525px;
    min-height: 80%;
  }
  b#title {
    font-size: x-large;
  }
  div#guide {
    display: inline-grid;
    width: 36%;
    border-left: 1px solid gray;
    padding: 5px;
  }
  div#footer {
    padding-top: 10px;
    font-size: small;
    text-align: right;
  }
</style>

<title>Markdown to Moodle Converter</title>
<form action="/convert" method="post">
<b id="title">Markdown to Moodle Converter</b>
<textarea id="mde" name="md">
# Test 1
* What is the color of the sky?
    - red
    - green
    - blue (correct)
    - yellow

* Which ones are programmer's `text editor`?
    - sublime text  (correct)
    - vim (correct)
    - atom (correct)
    - microsoft word

# Test 2
* ![logo](https://raw.githubusercontent.com/goFrendiAsgard/chimera-framework/master/logo.png) What is this?
    - Chimera framework logo (correct)
    - National flag of Wakanda

* How do you spell $$\alpha + \beta$$?
    - a plus b
    - alpha plus beta (correct)
    - a fish and a funny flag
</textarea>
<br />
<button>Convert</button>
</form>
<div id="guide">
  <b>Instructions in Creating Test Items or Questions</b>
  <ul id="ul-help">
    <li>
      <b>Section:</b>
      You can write several test sections, and at least one section should be present.
      Every test section should be preceeded with <code># </code> and followed with the <code>section name</code>.<br />
      <b>Example: </b><br />
      &nbsp;&nbsp;<code># Test 1</code><br />
    </li>
    <li>
      <b>Question:</b>
      You can write several questions in a single section.
      Every question should be preceeded with <code>* </code>.<br />
      <b>Example:</b><br />
      &nbsp;&nbsp;<code>* What is the color of the sky?</code>
    </li>
    <li>
      <b>Answer option:</b>
      Every questions should has at least one correct answer option.
      An options should be preceeded with 4 spaces and <code>- </code>.
      The correct answer option should has <code> (correct)</code> or <code> (answer)</code> at the end of the line.
      You can have more than one correct answer in a single question<br />
      <b>Correct answer option:</b><br />
      &nbsp;&nbsp;<code>&nbsp;&nbsp;&nbsp;&nbsp;- blue (correct)</code><br />
      <b>Wrong answer option:</b><br />
      &nbsp;&nbsp;<code>&nbsp;&nbsp;&nbsp;&nbsp;- red</code>
    </li>
    <li>
      <b>Image:</b>
      You can embed the image by writing this format: <code>![image caption](image url)</code><br />
      <b>Example:</b> <br />
      &nbsp;&nbsp;<code>![logo](https://website.com/logo.png)</code>
    </li>
    <li>
      <b>Math Formula:</b>
      You can embed math formula in this format: <code>$$latex-formula$$</code><br />
      <b>Example:</b><br />
      &nbsp;&nbsp;<code>$$\alpha + \beta$$</code>
    </li>
  </ul>
  <b>Instructions in Importing XML into Moodle</b><br />
  <div>Please refer to <a href="https://youtu.be/TFqcWTRz_L4" target="blank">https://youtu.be/TFqcWTRz_L4</a></div>
  <div id="footer">
    Copyright 2018<br />Go Frendi Gunawan and Julius Gayotin Garcia
  </div>
</div>

<script src="/statics/simplemde/simplemde.min.js"></script>
<script>
  let oldContent = localStorage.getItem('md');
  let textArea = document.getElementById('mde');
  console.log(oldContent)
  if (oldContent) {
    textArea.value = oldContent;
  }
  let simplemde = new SimpleMDE({
    element: textArea,
    status: false,
    indentWithTabs: false,
    tabSize: 4,
    showIcons: ['code'],
    hideIcons: ['bold', 'italic', 'heading', 'quote', 'unordered-list', 'ordered-list', 'side-by-side', 'fullscreen', 'guide'],
  });
  simplemde.codemirror.on('change', function(){
    localStorage.setItem('md', simplemde.value());
  });
</script>
