<h1>Markdown to Moodle</h1>
<form action="/convert" method="post">
<textarea name="md">
# Test 1

* What is the color of the sky?
    - red
    - green
    - blue 
    - yellow

* Which ones are programmer's `text editor`?
    - sublime text 
    - vim 
    - atom 
    - microsoft word

# Test 2

* What is this?
![logo](https://raw.githubusercontent.com/goFrendiAsgard/chimera-framework/master/logo.png)
    - A turtle 
    - A bird

* How do you spell $$\alpha + \beta$$?
    - a plus b
    - alpha plus beta 
    - a fish and a funny flag

</textarea>
<button>Convert</button>
</form>
